.selectorList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.selectorList > li {
    border-radius: 10px;
    width: 20rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.158);
    box-shadow: 2px 2px 1px 4px black;
}

.isActive {
    background-color: white !important;
}
