.header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.urlText{
    font-size: 2rem;
    color: rgb(255, 202, 45);
    font-weight: 700;
}

.shortnerText {
    font-size: 1.5rem;
    font-weight: 500;
    color: whitesmoke;
}